{{#each this}}
<h2>{{name}}</h2>
<h3>Capital:{{capital}}</h3>
<img src="{{flag}}" alt="{{cioc}}" width="320">
<p>Population:{{population}}</p>
<ul>
  <li>Languages:</li>
  {{#each languages}}
  <li>{{this.name}}</li>
  {{/each}}
</ul>
{{/each}}